/* Element CSS */
body{
    margin:0px;
    padding:0px;
}

main{
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 15vh auto;
    grid-template-areas: "nav nav nav"
                         "addQuote feed addImage";
    background-color: rgb(109, 60, 155);
    min-height: 100vh;
}

nav{
    grid-area: nav;
    background-color: rgb(172, 99, 239);
}

nav h1{
    color: white;
    font-weight: bolder;
}

form{
    padding: 35px;
}

/* ID CSS */
#addQuote{
    grid-area: addQuote;
    border-right: 2px solid rgb(73, 16, 70);
}

h2{
    color: rgb(77, 12, 74);
}

#addImage{
    grid-area: addImage;
    border-left: 2px solid rgb(73, 16, 70);
}

h2{
    color: rgb(77, 12, 74);
}

#feed{
    grid-area: feed;
    justify-content: flex-start;
}

#delete{
    font-weight: bolder;
    background-color: rgb(179, 69, 122);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 120px;
    color: white;
}

#warning{
    color: rgb(235, 234, 190);
}

/* Class CSS */
.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.raised-box{
    background-color: rgb(232, 183, 234);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(131, 124, 124);
    margin: 20px;
    color: rgb(77, 12, 74);
}

.post{
    width: 80%;
    padding: 20px;
}

.imagePost{

}

.quotePost{

}